{
  "openapi": "3.0.1",
  "info": {
    "title": "Discount Drug Network API",
    "description": "API for retrieving drug pricing, pharmacy information, and other related data with authentication and rate limiting.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.discountdrugnetwork.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "get": {
        "description": "Retrieve an access token to authenticate API requests.",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "Your group ID number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication tokens and expiry information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid group ID or authentication error",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        }
      }
    },
    "/Drug/Autocomplete": {
      "get": {
        "description": "Retrieve drug name suggestions for autocomplete.",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "Group Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefixText",
            "in": "query",
            "description": "Drug search text (minimum 3 characters recommended)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Optional number of drug names to return (max 20)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of suggested drug names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DrugName"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        }
      }
    },
    "/Drug/DiscountInfo": {
      "get": {
        "description": "Retrieve discount information for a specific group.",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "Group ID for which discount information is required",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount information for the specified group",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/DiscountInfo"
              }
            }
          },
          "400": {
            "description": "Invalid group ID or request error",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT token for authentication"
          },
          "refreshToken": {
            "type": "string",
            "description": "Token to refresh authentication"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          },
          "tokenType": {
            "type": "string",
            "description": "Authorization header type, usually 'Bearer'"
          }
        }
      },
      "DrugName": {
        "type": "object",
        "properties": {
          "drugName": {
            "type": "string",
            "description": "Suggested drug name"
          }
        }
      },
      "DiscountInfo": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "description": "Reference to the requested group ID"
          },
          "cardholderID": {
            "type": "string",
            "description": "New cardholder identifier"
          },
          "rxBIN": {
            "type": "string",
            "description": "BIN assigned to the group ID"
          },
          "rxPCN": {
            "type": "string",
            "description": "PCN assigned to the group ID"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
